body {
  margin: 0;
}
#canvas {
  display: block;
}

.fake {
  background-image: url("./images/car.png");
  background-image: url("./images/Frame1.png");
  background-image: url("./images/info.png");
  background-image: url("./images/firstMap.png");
  background-image: url("./images/group.png");
}